#footer {
  border-top: 10px solid #042046;
  position: relative;
  background-color: rgb(171, 237, 253);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 1s, visibility 1s;
  transition: height 1s, visibility 1s;
}
#footerbuttondown {
  background-color: #042046;
  color: #638070;
  font-size: 35px;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -20px;
  border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#footerbuttonup {
  background-color: #042046;
  color: #638070;
  font-size: 35px;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -80px;
  border-radius: 5px;
  border-radius: 5px;
  visibility: hidden;
  cursor: pointer;
}
#footercont {
  position: absolute;
  bottom: 0px;
  opacity: 1;
  width: 100%;
  transition: opacity 1s, visibility 2s, display 2s;
}
#centerbutton {
  align: center;
  width: 100%;
  content-align: center;
}
